.landing-background {
  background: url("./forest.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.landing-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.landing-col {
  flex: 1;
  padding: 24px;
}

.left {
  border-right: 1px solid #eee;
}

.right {
  /* placeholder for future content */
}
